.page {
	//padding-bottom: 200px;
}

// main-screen  ====================================================================================================//

.main-screen {
	//background: url('@img/main-screen/bg.jpg') 0 0/cover no-repeat;
	position: relative;
	@include adaptiveValue("margin-top", 120, 60, 1100, 767, 1);

		&__body {
			//display: flex;
			//justify-content: center;
			max-width: 1300px;
			margin: 0 auto;
		}

		&__box {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 0;
			@media (max-width: 1300px) {
				padding-right: 15px;
			}
			@media (max-width: 500px) {
				padding-right: 0;
			}
		}

		&__item {
			display: flex;
			align-items: center;
			@include adaptiveValue("gap", 25, 10);
			@media (max-width: 500px) {
				flex-wrap: wrap;
			}
		}

		&__image {
			flex: 0 1 50%;
			@media (max-width: 500px) {
				flex: 0 1 100%;
				order: 2;
			}
			img {
				max-width: 100%;
			}
		}

		&__info {
			flex: 0 1 50%;
			max-width: 635px;
			@media (max-width: 500px) {
				flex: 0 1 100%;
				padding: 0px 15px;
			}
		}

		&__title {
			@include adaptiveValue("font-size", 110, 22);
			@include adaptiveValue("margin-bottom", 50, 20);
			line-height: 120%;
			@media (max-width: 500px) {
				padding-top: 30px;
			}
		}

		&__text {
			line-height: 150%;
			@include adaptiveValue("font-size", 16, 16);
			@media (min-width: 500px) {
				padding-bottom: 25px;
			}
		}
}

.main-screen__bg-ibg {
	position: absolute;
	width: 100%;
	height: 90%;
	top: 0;
	left: 0;
	@media (max-width: 500px) {
		height: 92%;
	}
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;	//!!! Скрыть лишние слайды
}
/* Лента слайдов */
.slick-track{
	display: flex;	//!!! Выстроить в ряд
}


/*точки */
.slick-dots{
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: 500px) {
		bottom: -30px;
	}
}
.slick-dots li{
	margin: 0px 15px;
	list-style: none;
}
.slick-dots li button{
	font-size: 0;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #363838;
}

/* Активная точка */
.slick-dots li.slick-active button{
	background-color: #FFEF35;
}

// main-gallery ====================================================================================================//

.main-gallery {
	@include adaptiveValue("padding-top", 150, 80);

	&__content {
		text-align: center;
	}

	&__title {
		@include adaptiveValue("margin-bottom", 50, 30);
	}

	&__text {
		@include adaptiveValue("padding-bottom", 60, 40);
	}

	&__gallery {
	}
}

// aesthetic ====================================================================================================//

.aesthetic {
	@include adaptiveValue("margin-top", 105, 60);
	@include adaptiveValue("padding-top", 170, 80);
	@include adaptiveValue("padding-bottom", 160, 70);
	position: relative;

	&__image-ibg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: .3;
	}

	&__content {
		max-width: 500px;
	}

	&__title {
		@include adaptiveValue("font-size", 60, 35);
		@include adaptiveValue("margin-bottom", 45, 25);
	}

	&__text {
	}
}

// how-it-works ====================================================================================================//

.how-it-works {
	@include adaptiveValue("padding-top", 80, 50);
	@include adaptiveValue("padding-bottom", 110, 60);

	&__container {
	}

	&__title {
		text-align: center;
		@include adaptiveValue("padding-bottom", 40, 25);
	}

	&__content {
	}

	&__box {
		display: flex;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
		@media (min-width: 767px) {
			margin-bottom: 10px;
			gap: 20px;
			position: relative;
			::after {
				content: '';
				position: absolute;
				bottom: -10px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: rgba(#363838, .7);
			}
			::before {
				content: '';
				position: absolute;
				bottom: -10px;
				left: 50%;
				width: 2px;
				height: 20px;
				background-color: rgba(#363838, .7);
			}
		}
	}

	&__body {
		@media (min-width: 767px) {
			max-width: 250px;
		}
	}

	&__item {
	}
}

.item-how-it-works {
	flex: 0 1 50%;
	@media (max-width: 767px) {
		flex: 0 1 100%;
		@include adaptiveValue("margin-bottom", 50, 40, 767, 320, 1);
		position: relative;
		::after {
			content: '';
			position: absolute;
			bottom: -10px;
			left: 0;
			width: 80%;
			transform: translate(10%);
			height: 1px;
			background-color: rgba(#363838, .7);
		}
	}

	&__head {
		display: flex;
		align-items: center;
		padding-bottom: 14px;
	}

	&__image {
		padding-right: 10px;
	}

	&__sub-title {
	}

	&__text {
	}

	&_b {
		@media (min-width: 767px) {
			margin-left: 50%;
			padding-top: 40px;
			transform: translateX(-50%);
			position: relative;
			::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 2px;
				height: 20px;
				background-color: rgba(#363838, .7);
			}
		}
	}
}

//  ====================================================================================================//
.design-gallery {

	&__container {
	}

}

.design-gallery {

	&__container {
		padding-bottom: 40px;
	}

	&__tabs {
		display: flex;
		gap: 25px;
		justify-content: center;
		@media (max-width: 992px) {
			flex-wrap: wrap;
			gap: 10px;
		}
	}

	&__btn {
		font-weight: 600;
		@include adaptiveValue("font-size", 14, 12);
		line-height: 200%; /* 28/14 */
		color: #8F8D8D;
		padding: 6px 18px;
		border: 1px solid rgba(#454647, .5);
		border-radius: 20px;
		transition: all 0.3s ease 0s;
		@media (max-width: 992px) {
			padding: 4px 15px;
			min-width: 100px;
		}
		&._tab-active {
			background-color: #FFEF35;
			color: #363838;
		}
	}

	&__gallery {
		max-width: 1858px;
		margin: 0 auto;
		display: flex;
		gap: 30px;
		justify-content: center;
		text-align: center;
		@media (max-width: 992px) {
			gap: 5px;
		}
		@media (max-width: 767px) {
			flex-wrap: wrap;
			padding: 0px 15px;
		}
	}

	&__column_big {
		flex: 0 1 calc(44.8% - 15px);
		@media (max-width: 992px) {
			flex: 0 1 calc(44.2% - 2.5px);
		}
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
		img {
			max-width: 100%;
		}
	}

	&__items {
		flex: 0 1 calc(55.2% - 15px);
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		@media (max-width: 992px) {
			gap: 5px;
			flex: 0 1 calc(55.2% - 2.5px);
		}
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}

	&__item {
		flex: 0 1 calc(50% - 15px);
		@media (max-width: 992px) {
			flex: 0 1 calc(50% - 2.5px);
		}
		img {
			max-width: 100%;
		}
	}
}
.design-gallery__gallery[hidden] {
	display: none;
}

// blog ====================================================================================================//

.blog {
	@include adaptiveValue("padding-top", 110, 50);
	@include adaptiveValue("padding-bottom", 110, 50);

	&__container {
	}

	&__title {
		text-align: center;
		max-width: 430px;
		margin: 0 auto;
		@include adaptiveValue("padding-bottom", 30, 25);
	}

	&__content {
	}
}

.content-blog {
	display: flex;
	gap: 30px;
	@media (max-width: 767px) {
		flex-wrap: wrap;
	}

	&__column {
		flex: 0 1 50%;
		@media (max-width: 767px) {
			flex: 0 1 100%;
		}
	}

	&__image {
		img {
			max-width: 100%;
			@media (max-width: 767px) {
				width: 100%;
			}
		}
		padding-bottom: 20px;
	}

	&__text {
		display: flex;
		@include adaptiveValue("font-size", 14, 12);
		line-height: 130%;
		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
		a {
			margin-right: 20px;
			position: relative;
			transition: all 0.3s ease 0s;
			&:hover {
				color: #0e7a73;
			}
			&::after{
				content: '';
				position: absolute;
				top: 0;
				right: -10px;
				width: 1px;
				height: 70%;
				transform: translateY(20%);
				background-color: #707070;
			}
		}
		padding-bottom: 10px;
	}

	&__data {
	}

	&__person {
	}

	&__position {
	}

	&__sub-text {
	}
}

//  ====================================================================================================//

//  ====================================================================================================//

// about-crumbs ====================================================================================================//

.about-crumbs {
	position: relative;
	@include adaptiveValue("height", 400, 200);

	&__image-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__title{
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: center;
		top: 50%;
		transform: translateY(-100%);
		font-family: Montserrat;
		font-weight: 700;
		@include adaptiveValue("font-size", 60, 40);
		line-height: 133.333333%; /* 80/60 */
		color: #363838;
	}
}

// about-us ====================================================================================================//

.crumbs {
	&__container {
		position: relative;
		z-index: 2;
		display: flex;
		padding-top: 25px;
		a {
			padding-right: 10px;
		}
	}
}

.about-us {
	@include adaptiveValue("padding-top", 100, 60);
	@include adaptiveValue("padding-bottom", 100, 40);

	&__container {
	}

	&__title {
		@include adaptiveValue("margin-bottom", 45, 30);
	}

	&__text {
		@include adaptiveValue("margin-left", 285, 0, 1110, 767, 1);
		@include adaptiveValue("padding-bottom", 80, 40);
		p{
			&:not(:last-child){
				@include adaptiveValue("padding-bottom", 30, 15);
			}
		}
	}

	&__image {
		@include adaptiveValue("height", 415, 200);
		position: relative;
	}

	&__image-ibg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

// inspiration ====================================================================================================//

.inspiration {
	position: relative;

	&__box {
		display: flex;
		max-width: 1700px;
		margin: 0 auto;
		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
	}

	&__image {
		@include adaptiveValue("padding-right", 80, 30, 1100, 992, 2);
		padding-left: 15px;
		@media (max-width: 992px) {
			flex: 0 1 100%;
			order: 2;
			text-align: center;
			img {
				max-width: 100%;
			}
		}
	}

	&__content {
		@include adaptiveValue("padding-top", 40, 20);
	}

	&__background-ibg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.content-inspiration {
	flex: 0 1 100%;

	&__container {
	}

	&__title {
		@include adaptiveValue("margin-bottom", 40, 25);
	}

	&__text {
		@include adaptiveValue("padding-bottom", 60, 30);
	}

	&__feature {
		max-width: 830px;
	}
}

.feature-content-inspiration {

	&__row {
		position: relative;
		display: flex;
		justify-content: space-between;
		font-family: Montserrat;
		@include adaptiveValue("font-size", 16, 12);
		font-weight: 700;
		line-height: 143.75%; /* 23/16 */
		color: #363838;
		margin-bottom: 40px;

		&_1, &_2, &_3, &_4 {
			position: relative;
			&::before{
				content: '';
				position: absolute;
				bottom: -15px;
				left: 0;
				height: 3px;
				background-color: #000;
				z-index: 2;
			}
		}
		&_1 {
			&::before{
				width: 80%;
			}
		}
		&_2 {
			&::before{
				width: 70%;
			}
		}
		&_3 {
			&::before{
				width: 75%;
			}
		}
		&_4 {
			&::before{
				width: 40%;
			}
		}
	}

	&__text {
	}

	&__value {
	}

	&__decor {
		position: absolute;
		bottom: -15px;
		left: 0;
		height: 3px;
		width: 100%;
		background-color: #fff;
	}
}

// brands ====================================================================================================//

.brands {
	padding-top: 30px;
	padding-bottom: 40px;

	&__container {
	}

	&__list {
		display: flex;
		padding: 0px 15px;
		gap: 30px;
		justify-content: center;
		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
	}

	&__item {
		@media (max-width: 992px) {
			flex: 0 1 calc(33.333% - 20px);
		}
		img {
			max-width: 100%;
		}
		&_m {
			@media (max-width: 992px) {
				//display: none;
			}
		}
	}
}

// about-gallery ====================================================================================================//

.about-gallery__gallery {
	@include adaptiveValue("padding-bottom", 70, 40);
}

// block-gallery ====================================================================================================//

.block-gallery {
	@include adaptiveValue("padding-top", 85, 50);
}